absl-py==0.15.0
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
configparser==7.1.0
contourpy==1.1.1
csbdeep==0.7.4
cycler==0.12.1
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
flatbuffers==1.12
fonttools==4.49.0
funcsigs==1.0.2
gast==0.3.3
google-auth==2.28.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gputools==0.2.14
grpcio==1.32.0
h5py==2.10.0
idna==3.6
imageio==2.34.0
importlib-metadata==7.0.1
importlib_resources==6.4.4
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython @ file:///croot/ipython_1691532092695/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257397447/work
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
llvmlite==0.39.1
Mako==1.3.5
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.6.3
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.1
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pandas==2.0.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==3.20.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.5.1
pyasn1-modules==0.3.0
Pygments @ file:///croot/pygments_1684279966437/work
pyopencl==2024.2.7
pyparsing==3.1.1
python-dateutil==2.8.2
pytools==2024.1.13
pytz==2024.2
PyWavelets==1.4.1
pyzmq @ file:///croot/pyzmq_1705605076900/work
reikna==0.8.0
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scipy==1.10.1
six==1.15.0
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stardist==0.8.5
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.4
tensorflow-estimator==2.4.0
termcolor==1.1.0
tifffile==2023.7.10
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
tqdm==4.66.2
traitlets @ file:///croot/traitlets_1671143879854/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
urllib3==2.2.1
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==3.0.1
wrapt==1.12.1
zipp==3.17.0
